<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469541110958-lpotja2q9f9piu1j4s7tuj5scci3bv1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469541110958-lpotja2q9f9piu1j4s7tuj5scci3bv1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469541110958-fg2pphve1jt859gq187s8llv8psuffd8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClZq8Ar0h3sUa51skkghWuH2tfNtw8lO4</string>
	<key>GCM_SENDER_ID</key>
	<string>469541110958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.babymo</string>
	<key>PROJECT_ID</key>
	<string>babymo</string>
	<key>STORAGE_BUCKET</key>
	<string>babymo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469541110958:ios:a4f050bfb1c46af669993f</string>
	<key>DATABASE_URL</key>
	<string>https://babymo-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>